@font-face {
    font-family: 'fontello';
    src: url('fontello.eot');
    src: url('fontello.eot?#iefix') format('embedded-opentype'),
        url('fontello.woff2') format('woff2'),
        url('fontello.woff') format('woff'),
        url('fontello.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fontello';
    src: url('fontello_1.eot');
    src: url('fontello_1.eot?#iefix') format('embedded-opentype'),
        url('fontello_1.woff2') format('woff2'),
        url('fontello_1.woff') format('woff'),
        url('fontello_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fontello';
    src: url('fontello_2.eot');
    src: url('fontello_2.eot?#iefix') format('embedded-opentype'),
        url('fontello_2.woff2') format('woff2'),
        url('fontello_2.woff') format('woff'),
        url('fontello_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fontello';
    src: url('fontello_3.eot');
    src: url('fontello_3.eot?#iefix') format('embedded-opentype'),
        url('fontello_3.woff2') format('woff2'),
        url('fontello_3.woff') format('woff'),
        url('fontello_3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

